.layout-wrapper{
    /* overflow: auto; */
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    display: flex;
}
.layout-right-side{
    width: 60%;
    margin-top: 2rem;
}

@media only screen and (max-width: 768px){
       .layout-wrapper{
        overflow: none; 
        max-width: 100%;
         flex-direction: column;
         margin: 0;
       }
       .layout-right-side {
        width: 100%;
        margin-top: 18px;
       }
}