.sidebar-wrapper{
    /* position: absolute; */
    width: 352px;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
}

.sidebar-top-wrap{
    width: 352px;
    height: 97px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-top-wrap input{
    width: 236px;
    height: 37px;
    background: #FFFFFF;
    border-radius: 15px;
    outline: none;
    border: none;
}
.sidebar-btm-columns{
    width: 350px;
    height: 3.1rem;
    border: 0.6px solid #C4C4C4;
    display: flex;
    align-items: center;
}
.sidebar-title-container{
    width: 70%;
    display: flex;
    justify-content: center;
}
.sidebar-title-container a{
    text-decoration: none;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}
.search-wrapp{
    width: 22rem;
    min-height: 4rem;
    background-color: #b1abab;
    position: absolute;
    margin-top: -1.7rem;
    color: white;
    border-radius: 5px;
    display: none;
}
.search-result-wrapper{
    height: 2rem;
    border-bottom: 2px solid #a2a1a1;
    text-align: center;
    
}
.search-result-wrapper a{
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

#search-wrap{
    display: inline;
}

@media only screen and (max-width: 768px){
    .sidebar-wrapper{
        width: 100%;
        margin-top: 0;
    }
    .sidebar-title-container {
        display: block;
    }
    .sidebar-top-wrap , .sidebar-btm-columns 
        {
        width: 100%;
    }
    .sidebar-btm-columns {
        justify-content: center;
    }
    .sidebar-title-container a {
        margin-left: 4rem;
    }
}